body {
    background-image: url(images/above-the-clouds.gif);
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    margin: 0;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
    padding: 2%;
}

h2 {
    margin: 0;
}

.container {
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: aliceblue;
    padding: 2%;
}

p {
    overflow-wrap: break-word;
}

img {
    width: 20vw;
    float: right;
}

header {
    display:inline-flex;
    justify-content: center;
    background-color: white;
    width:100vw;
    position: fixed;
    top: 0;
    transition: top 1.3s ease-in-out;
}

nav {
    font-family: garamond, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    font-weight: 900;
    margin: 10px;
}

nav a {
    text-decoration: none; /* Remove underlines from anchor links */
    padding: 10px; /* Add padding for better appearance */
    color: inherit;
}