* {
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    border: 1px solid black;
    margin-left: 2em;
    margin-right: 2em;
}

button {
    background-color: darkgray;
}

img {
    width: 40%;
}